

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
html{
    background-color: #ffffff;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.wrappers {
    width: 1200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -75%); 
    background-color: aliceblue;
    overflow: hidden;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    padding-bottom: 35px;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/image1.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    border-radius: 200px;
    color:black;
    margin-left: 40%;   
    border: 1px solid black;
}

.btn2 {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 450;
    font-size: 10px;
    text-decoration: none;
    border-radius: 200px;
    color:blue;
    border: 1px solid blue;
    float: right;
    margin-top:50px;
    margin-right: 15px;
     
}

h1 {
    font-size: 105px;
    padding-left: 45px;
}

.test {
    text-align: left;
}
.help {
    display: inline-block;
    font-size: 15px;
    font-family: Lato;
    font-weight: 300;
    color: black;
}

.link {
    float: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Lato;
    font-weight: 300;
    color: black;
    padding-left: 3px;
    
}
